body{
	 background-color: white;
}
.nav{
position: absolute;
width: 133px;
height: 25px;
left: 77px;
top: 40px;
font-family: 'Inconsolata';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 25px;
letter-spacing: -0.08em;
text-transform: uppercase;

color: #333333;

}
.png{
position: absolute;
left: 5.35%;
right: 57.21%;
top: 24.54%;
bottom: 34.03%;


border-radius: 0px;

}
.png img{
	height: 447.4263916015625px; 
	width: 539.2236938476562px;
}
.orta{
	display: flex;
}

.bir p{
	position:absolute;
width: 586px;
height: 190px;
left: 735px;
top: 125px;

font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 95px;
letter-spacing: -0.035em;

/* Gray 1 */

color: #333333;
}
.eki p{
	position: absolute;
width: 381px;
height: 108px;
left: 736px;
top: 391px;

font-family: 'Space Mono';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
letter-spacing: -0.035em;

/* Gray 2 */

color: #4F4F4F;

}
.ush button{
	position: absolute;
width: 216px;
height: 68px;
left: 740px;
top: 573px;


/* Gray 1 */

background: #333333;
}
.t{
	width: 130px;
height: 21px;
left: 783px;
top: 687px;

font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
/* identical to box height */

letter-spacing: -0.035em;
text-transform: uppercase;

color: #FFFFFF;
}
.asty p{
	position: absolute;
width: 287px;
height: 17px;
left: 577px;
top: 939px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: center;

color: #BDBDBD;
}